@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Tangerine:wght@400;700&display=swap');
@import "src/app/styles/reset";
@import "src/app/styles/variables/global";
@import "src/app/styles/themes/normal";
@import "src/app/styles/themes/dark";

.app {
  //display: flex;
  //flex-direction: column;
  //align-items: stretch;
  //height: 100vh;
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}
.content-page {
  display: flex;
}
.page-wrapper {
  flex-grow: 1;
  padding: 20px;
  //background-color: chocolate;
}

//body {
//  background-color: rgba(250, 235, 215, 0.57);
//  font-family: 'Montserrat', sans-serif;
//  font-weight: 500;
//}

