.input {
  width: 240px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 100px 70px;
}

.error {
  width: 120%;
}

@media (width <= 380px) {
  .LoginForm input {
    width: 100px;
  }

  .content {
    margin: 0;
  }
}

.content label {
  font-size: var(--font-size-m);
  margin-bottom: 10px;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnWrapper button {
  border: none;
  display: inline-block;
}

.btnForgot,
.btnCancel {
  font-size: 0.8em;
}
