.input {
  width: 240px;
  margin-bottom: 20px;
}

.error {
  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 16px;
  }

    p:last-child {
      font-size: 14px;
    }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 100px 70px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media ( width <= 380px ) {
  .LoginForm input {
    width: 100px;
  }

  .content {
    margin: 0;
  }
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnWrapper button {
  border: none;
}

.btnConfirmWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
