.input {
  width: 240px;
  border-bottom: 1px solid #1a1a1a;
  margin-bottom: 20px;
  letter-spacing: 1.5em;
}

.error {
  display: flex;
  flex-direction: column;

  p {
    font-size: 16px;
  }

    p:last-child {
      font-size: 14px;
    }
}

.inputPass input {
  width: 240px;
  border-bottom:  1px solid #1a1a1a;
  letter-spacing: 0.19em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 100px 70px;
}

.item {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media ( width <= 380px ) {
  .LoginForm input {
    width: 100px;
  }

  .content {
    margin: 0;
  }
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
  border: none
}

.btnWrapper button {
  border: none;
}

.btnForgot,
.btnCancel {
  font-size: 0.8em;
}
