.Button {
  cursor: pointer;
  color: var(--primary-color);

  &:hover {
    opacity: 0.6;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
  }
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.square {
  padding: 0;
}

.disabled {
  opacity: 0.4;

  &:hover {
    opacity: 0.4;
  }
}

.hover_underline {
  position: relative;
  transition: background 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 30%;
    width: 0;
    background: var(--secondary-color);
    transition: width 0.3s ease, left 0.3s ease, right 0.3s ease;
  }

  &:hover::before {
    height: 1px;
    width: 86%;
    left: 7%;
  }
}

.hover_shadows {
  position: relative;
  transition: background 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 0;
    background: var(--secondary-color);
    transition: width 0.3s ease, left 0.3s ease, right 0.3s ease;
  }

  &:hover::before {
    box-shadow: 2px -14px 9px 10px var(--bg-shadow-color);
    width: 86%;
    left: 7%;
  }
}

.square.size_xs {
  width: var(--font-line-xs);
  height: var(--font-line-xs);
}

.square.size_s {
  width: var(--font-line-s);
  height: var(--font-line-s);
}

.square.size_sm {
  width: var(--font-line-sm);
  height: var(--font-line-sm);
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size_ml {
  width: var(--font-line-ml);
  height: var(--font-line-ml);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.size_xs {
  font: var(--font-xs);
}

.size_s {
  font: var(--font-s);
}

.size_sm {
  font: var(--font-sm);
}

.size_m {
  font: var(--font-m);
}

.size_ml {
  font: var(--font-ml);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}
