.Sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height) - var(--header-height));
    position: relative;
    background-color: var(--inverted-bg-color);
    transition: width 0.3s;
}

.items {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
    text-decoration: none;
}

.switchers {
    position: absolute;
    bottom: 5px;
    margin: 0 10px;
    display: flex;
}

.lang {
    background: #c20c0c;
    align-items: center;
    display: flex;
}

.themeSwitch {
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .items {
        opacity: 0;
        transition: 0.3s opacity;
        width: 0;
    }

    .switchers {
        bottom: 7px;
    }

    .themeSwitch {
        margin-right: 5px;
        height: 30px;
        width: 30px;
    }
}

.collapsedBtn {
    position: absolute;
    right: -17px;
    bottom: 30px;
    width: 17px;
}

.collapsedSign {
    font-size: 0.8em;
}



