.app.dark {
  --bg-color: rgba(45, 44, 44, 0.96);
  --inverted-bg-color: rgba(2, 37, 250, 0.55);

  --primary-color: #ffffff;
  --secondary-color: #f6eae0;
  --inverted-primary-color: #110f0f;
  --inverted-secondary-color: #3d3d40;
}
