.app_dark_theme {
  --bg-color: rgb(45 44 44 / 96%);
  --inverted-bg-color: rgb(89 88 88 / 55%);
  --primary-color: #dadada;
  --secondary-color: #f6eae0;
  --inverted-primary-color: #110f0f;
  --inverted-secondary-color: #3d3d40;
}
