:root {
  --bg-color: rgb(250, 250, 250);
  --inverted-bg-color: rgba(187, 184, 184, 0.26);
  --primary-color: #000000;
  --secondary-color: #3d3d40;
  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #f6eae0;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;
}
