.header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--header-height);
    background-color: var(--bg-color);
    font-size: var(--font-size-l);
    font-family: var(--font-family-main-logo);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid var(--primary-color);
    /*background-color: rgb(255, 188, 48);*/
    /*background-color: rgb(227, 214, 73);*/
    /*background-image: url(https://wix.by/assets/images/bg/wix.jpg);*/
    /*background-image: url(https://e7.pngegg.com/pngimages/991/456/png-clipart-drawing-pen-sketch-book-pen-pencil-cable.png);*/
    background-size: 900px 200px;
    background-repeat: no-repeat;
    background-position: 20px -20px;
    /*border-bottom: 1px solid var(--primary-color);*/
    /*border-bottom: 1px solid rgba(var(--primary-color), 0.9%);*/
}
.header-logo-title{
    align-self: center;
    margin-top: 5px;
    margin-bottom: 18px;
    letter-spacing: 10px;
}
.header-logo-sign{
    font-family: var(--font-family-main-logo-title);
    font-size: var(--font-size-m);
    align-self: center;
    margin-left: 230px;

}
