.AppLink {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color)
}
.primary {
  color: var(--primary-color)
}

.secondary {
  color: var(--secondary-color)
}
.isActive {
  //background: var(--inverted-bg-color);
  //margin-left: -10px;
}
