.RegistrationConfirm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  font-size: var(--font-size-m);
  margin-top: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 80px 10px;
}

.input {
  width: 240px;
  margin-bottom: 20px;
}

@media ( width <= 600px ) {
  .input {
    width: 150px;
  }

  .content {
    margin: 0;
  }
}


.content label {
  font-size: var(--font-size-m);
  margin-bottom: 10px;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
  margin-top: 50px;
  border: none;
}

.btnWrapper button {
  border: none;
}

.btnForgot,
.btnCancel {
  font-size: 0.8em;
  border: none;
}

.ConfirmationWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 50px 0;
}

.confirmation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
